---
import NavbarContainer from '@/components/Navbar/NavbarContainer.astro'
import Logo from '@/components/icons/Logo.astro'
import NavItem from '@/components/Navbar/NavItem.astro'
import Button from '@/components/ui/Button.astro'
import Menu from '@/components/ui/Menu.astro'
import { navItems } from '@/utils/menu-items'
---

<NavbarContainer>
  <Fragment slot="left">
    <a class="pr-10 z-10" href="/">
      <Logo class="w-44 lg:w-52" />
    </a>
    <nav
      id="nav"
      class="bg-white absolute pt-32 p-6 md:p-0 top-0 left-0 md:relative md:top-auto md:left-auto w-4/5 h-dvh md:h-auto md:w-auto flex flex-col md:flex-row items-center justify-between -translate-x-full transition-transform md:translate-x-0 text-2xl md:text-base shadow-lg shadow-black/40 md:shadow-none"
    >
      <ul class="flex flex-col md:flex-row justify-end items-center font-medium gap-6 md:gap-0">
        {navItems.map((item) => <NavItem href={item.href}>{item.title}</NavItem>)}
      </ul>
      <Button href="/contact" class="md:hidden w-full">Get Started</Button>
    </nav>
  </Fragment>
  <Fragment slot="right">
    <Menu id="menu-toggle" />
    <Button href="/contact" class="hidden md:block">Get Started</Button>
  </Fragment>
</NavbarContainer>

<script>
  import { setupMenuToggle } from '@/utils/menu-function'
  const menuToggle = document.getElementById('menu-toggle')
  const nav = document.getElementById('nav')
  setupMenuToggle(menuToggle, nav)
</script>
