---
interface Props {
  href: string

  class?: string
}

const { href, class: className } = Astro.props
---

<a
  href={href}
  class={`py-5 px-6 leading-5 bg-azure-radiance-700 rounded-xl text-white font-bold pointer-events-auto border border-azure-radiance-700 hover:bg-white hover:text-azure-radiance-700 transition-all duration-300 ease-in-out ${className}`}
>
  <slot />
</a>
